@charset "utf-8";

.floatBtn { //진짜 어려움... a 태그영역의 세분화가 헤깔림
    // @include circle(70px);
    // background:red;
    // bottom:80px;
    // right:80px;
    // position:fixed;
    // .btn_top {
    //     position:absolute;
    //     bottom:-30px;
    //     right:15px;
        
    // }
    
    position:fixed;
    right:20px;
    bottom:20px;
    z-index:100;
    .subNav {
        background-color:red;
        width:70px;
        height:70px;
        padding:20px 0;
        box-sizing:border-box;// 패딩값을 없애버림
        border-radius:35px;
        overflow:hidden;
        color:transparent;
        text-align:center;// 이미지와 텍스트 가로 정렬
        transition:height 0.4s, color 0.4s 0.2s;
        
        // &.opened { //자바 스크립트로 컨트롤할때 클래스를 줌 
        //     color:#fff;
        //     height:auto;
        // }
        &:hover {
            color:#fff;
            height:240px;
        }
        li {
            margin-bottom:18px;
            &:last-child {
                margin-bottom:0;
            }
        }
        padding:20px 0;
        img {
            height:34px;
            margin-top:-2px;//이미지가 약간 여백이있어서 올림 
        }
        p {
            margin-top:3px;
            font-size:12px;
        }
        a {
            transition:all 0.4s;
            &:hover {
                color:rgba(255,255,255,0.5);
                opacity:0.6;
                
            }
        }
        
        
        
    }

    .btnTop {
        display:block;
        height:20px;
        background:url($url + 'top_nav.png') no-repeat center center/contain;
    }
}