@charset "utf-8";


.mainTop { //헤더의 높이값 정보를 찾기 쉽지 않음 높이가 80인거 같은데 css 창에는 높이 값 자체가 없음 
    
    width:100%;
    padding-top:40px;
    position:fixed;
    top:0;
    left:0;
    color:#f2f2f2;
    z-index:2;
    .navBar {
        width:100%;
        height:80px;
        position:relative;
        padding:0 80px;
        display:flex;
        
        .logo {
            width:180px;
            padding:20px 30px 20px 0;
            margin-right:360px;
            // position:absolute;
            a {
                display:block;
                background:url($url + 'mainLogo.png') no-repeat center center/ contain;
                width:150px;
                height:40px;
            }
        }
        .mainNav {
            display:flex;
            padding:10px 0;
            // width:700px;
            font-size:18px;
            position:relative;
            
            margin:auto 0; //여러번 처음 시도햇는데 안됐었는데 한참후에 하니 또 됨 세로정렬
            ul {
                // display:flex;
                @include flex($a:stretch);
                
                // position:absolute;
                li {
                    padding:0 30px;
                    display:block;
                    a {
                        margin:auto 0;
                        line-height:50px; // a 요소는 가로정렬 line-height로 
                    }
                }
            } 
        }
        .btnHam {
            position:absolute;
            top:0;
            right:210px;//Q.왜 우측값을 줘야 화면에서 보여지는지 모르겠음 width값이 없어서 화면밖으로 넘어가는가?
            
            
            a {
                display:block;
                height:80px;
                width:100px;
                
                
                .lines {
                    position:relative;
                    display:block;
                    height:4px;
                    width:40px;
                    right:-35px;
                    top:38px;
                    background-color:#f2f2f2;
                    
                    
                    &:before {
                        content:'';
                        position:absolute;
                        display:inline-block;
                        width:40px;
                        height:4px;
                        left:0;
                        top:13px;
                        background-color:#f2f2f2;
                    }
                    &:after {
                        content:'';
                        position:absolute;
                        display:block;
                        height:4px;
                        width:40px;
                        background-color:#f2f2f2;
                        left:0;
                        top:-13px;
                        
                    }
                    
                }
            }
            
        }
    }
}
.mainSlide01 {
    position:relative;
    z-index:1;
    .mainTitle {
        position:absolute;//Q,relative를 부모인 mainSlide에 주고 싶은데 주게되면 헤더 메뉴가 사라짐 그래서 z-index로 순번 정해줌
        color:#f2f2f2;
        top:350px;
        left:0;
        padding-left:170px;
        h2 {
            font-size:86px;
            font-weight:600;
            height:200px;
            
        }
        h3 {
            margin-top:34px;
            font-size:24px;
            font-weight:400;
        }
    }
}
