@charset "utf-8";


.mainTop { //헤더의 높이값 정보를 찾기 쉽지 않음 높이가 80인거 같은데 css 창에는 높이 값 자체가 없음 
    
    width:100%;
    padding-top:40px;
    position:fixed;
    top:0;
    left:0;
    color:#f2f2f2;
    z-index:2;
    .navBar {
        height:80px;
        padding:0 80px;
        display:flex;
        justify-content:space-between;// 미디어 쿼리가 들어가기전 가로를 줄였을때 밀리도록 수정
                                    //Q.하지만 반대로 창크기를 가로로 늘였을때 제한이 없음 
        align-items:center;
        .logo {
            outline:1px solid red;
            // margin-right:360px;
            // position:absolute;
            a {
                display:block;
                background:url($url + 'mainLogo.png') no-repeat center center/contain;// 슬러쉬 앞뒤로 띄워쓰기 안됨
                width:150px;
                height:40px;
            }
        }
        .mainNav {  
            // width:700px;
            font-size:18px;
             //여러번 처음 시도햇는데 안됐었는데 한참후에 하니 또 됨 세로정렬
            outline:1px solid red;
            ul {
                // display:flex;
                @include flex($a:stretch);
                
                // position:absolute;
                li {
                    margin-left:25px;
                    &:first-child {
                        margin-left:0;
                    }
                    a {
                        display:block;
                        padding:20px 0;
                         // a 요소는 가로정렬 line-height로 마진오토는 블럭요소에만 됨
                    }
                }
            } 
        }
        .btnHam {
            //Q.왜 우측값을 줘야 화면에서 보여지는지 모르겠음 width값이 없어서 화면밖으로 넘어가는가?
            position:relative;
            outline:1px solid red;
            padding-left:40px;
            a {
                display:block;
                height:26px;
                width:35px;
                position:relative;
                
                .lines {
                    position:absolute;
                    left:0;
                    display:block;
                    width:100%;
                    height:3px;
                    background-color:#f2f2f2;
                    
                    &:nth-child(2) {
                        top:calc(50% - 1.5px);

                    }
                    &:nth-child(3) {
                        bottom:0;
                    }
                    // &:before, &:after {
                    //     content:'';
                    //     position:absolute;
                    //     display:block;
                    //     width:100%;
                    //     height:100%;
                    //     left:0;
                    //     top:13px;
                    //     background-color:#f2f2f2;
                    // }
                    
                    // &:before {
                    //     top:13px;
                    // }
                    // &:after {
                    //     top:-13px;
                        
                    // }
                    
                }
            }
            
        } // ham btn end
        
    }
}




