@charset "utf-8";


@media all and (max-width:970px) {    
    .mainTop .navBar {
        padding:0 40px;
    }
    .mainTop .navBar .mainNav {
        position:fixed;
        right:-300px;
        top:0;
        bottom:0;
        //bottom만 있어도 원래 풀이 되야하는데 header에 있는 height에 밀려서 억지로 height:100%을 줘야하나?
        width:280px;
        background:#fff;
        z-index:100;
        .btnClose {
            display:block;
        }
        ul {
            margin-top:20px;
            display:block;
            color:#111;
            padding:0 25px;
            li {
                margin-left:0;
                border-bottom:1px solid #ddd;
                text-align:left;
                position:relative;
                
                &:before {
                    content:'';
                    display:block;
                    height:3px;
                    width:18px;
                    background-color:#aaa;
                    position:absolute;
                    top:22px;
                    right:7px;
                }
                &:after {
                    content:'';
                    display:block;
                    height:18px;
                    width:3px;
                    background-color:#aaa;
                    position:absolute;
                    top:15px;
                    right:14px;
                }
                a {
                    padding:12px 0;
                    font-size:15px;
                    font-weight:700;
                }
            }
        }
    }
    .floatBtn {
        display:none;
    }

    .mainSlide01 {
        .mainTitle {
            h2 {//h2에는 높이 필요 없음 보통 여백으로 간격 조절하던지 해야함
                font-size:48px;
            }
        }


    }
    .mainSlide02 {
        .inner {  
            .mainTitle {
                display:block;
                text-align:center;
                .unitChk {
                    display:none;//폰트 사즈 변화보려면 none해제
                    
                }
                h2 {
                    word-break:keep-all;
                    font-size:25px;
                    width:100%;
                    &:after {
                        display:none;
                    }
                    br {//br 줄넘김 태그 무효화 하기
                        display:none;
                        
                    }
                }
                p {
                    padding:0;
                    &:before {
                        display:none;
                    }
                    
                    br {
                        display:none;
                    }
                }
                
            }
        }
        
        .inner {
            .grayCard {
                padding:0;
                li {
                    height:200px;
                    width:calc(( 100% - 50px ) / 2 );
                    &:nth-child(2) ~ li {//2번째 부터 지정선택하기 
                        margin-top:25px;
                    }
                }
            }
        }
    }
    .mainSlide03 {
        .inner {
            .mainTitle {
                display:block;
                text-align:center;
                h2 {
                    width:100%;
                    font-size:25px;
                    br {
                        display:none;
                    }
                    &:after {
                        display:none;
                    }
                }
                p {
                    padding:0;
                    br {
                        display:none; // br태그 제거 https://m.blog.naver.com/PostView.naver?isHttpsRedirect=true&blogId=sonix&logNo=221367693717
                    }
                    &:before {
                        display:none;
                    }
                }
            }
            .slide03List {
                flex-wrap:wrap;
                
                li {
                    // height:300px;
                    width:calc( 50% - 2px );//보더때문에 2픽셀을 안빼주면 50퍼센트가 안먹는건가?
                    
                    &:nth-child(2) {
                        border-right:1px solid #6a6865;
                        
                    }
                    a {
                        padding:50px 28px 0; 
                        height:330px;
                    }
                }
            }
        }
    }
    .mainSlide04 {
        .inner {
            .mainTitle {
                display:block;
                text-align:center;
                h2 {
                    width:100%;
                    font-size:25px;
                    br {
                        display:none;
                    }
                    &:after {
                        display:none;
                    }
                }
                p {
                    padding:0;
                    br {
                        display:none;
                    }
                    &:before {
                        display:none;
                    }
                }
            }
            .solutions {
                padding-left:0;
                
            }
        }
    }
    .mainSlide05 {
        .inner {
            .mainTitle {
                display:block;
                
                h2 {
                    width:70%;
                    font-size:25px;
                    br {
                        display:none;
                    }
                    
                }
                
            }

        }
    }
    .mainSlide06 {
        .inner {
            .mainTitle {
                display:block;
                
                h2 {
                    width:70%;
                    font-size:25px;
                    br {
                        display:none;
                    }
                    &:after {
                        display:none;
                    }
                    
                }
                
            }

        }
    }
    .mainSlide07 {
        .inner {
            .mainTitle {
                display:block;
                
                h2 {
                    font-size:25px;
                    width:70%;
                    br {
                        display:none;
                    }
                    &:after {
                        display:none;
                    }
                    
                }
                
            }
            .recruitInfo {
                flex-wrap:wrap;
                li {
                    width:calc( 50% - 20px );//calc 안쓰고 계산을 미리하면 더 연산이 빠르고 효율적 
                    a {

                    }
                }
            }

        }
    }
    .fp-auto-height {
        .inner {
            //common.scss line 55 참고 푸터 영역 넘치는 문제 
            justify-content:flex-start;
            .bottomLogo {
                width:100px; //?.로고가 자꾸넘어감 부모쪽 가로넓이에 마진 -50값이 우측에 먹여져있음 부모인 inner에도 inner공통값에는 마이너스 값이 없음
    
            }
        }
        
    }
}
    

@media all and (max-width:480px) {
    .base {
        padding:0 20px;
    }
    .mainTop {
        padding-top:10px;
        .navBar {
            padding:0 30px;
        }
    }
    .mainSlide01 .mainTitle {

        h2 {
            font-size:27px;
        }
        h3 {
            font-size:13px;
        }
    }
    .mainSlide01 .sns {
        width:90px;
    }
    .mainSlide02 {//공통적으로 들어가는 기준 가로 간격 패딩은 공통으로 들어가는 것끼리 모아서 따로 세팅 하는게 좋음 
        padding:0;//inner 가 기준이고 inner만 패딩갖고 있으면 되기때문에 해제함 mainSlide01만 base자체에 include 로 패딩값 먹여져있음 
        .grayCard {
            display:block;
        }
        .inner {
            .mainTitle {
                h2 {
                    font-size:20px;
                }
                p {
                    font-size:15px;
                }
            }
            .grayCard {
                display:block;
                li {
                    width:100%;
                    height:100%;
                    &:first-child ~ li {
                        margin-top:10px;
                    }
                }
                .cardList {
                    padding:25px 20px;
                    
                    .arrow {
                        display:none;
                    }
                    p {
                        margin:0.5em 0 0;
                    }
                }
            }
        }
    }
    .mainSlide03 {
        .inner {
            .slide03List {
                display:block;
                li {
                    width:100%;
                    border-right:1px solid #6a6865;
                    a {
                        height:230px;
                        .midBox {
                            .listIcon {
                                font-size:19px;
                            }
                        }
                    }
                }
            }
        }
    }
    
}