@charset "utf-8";
$url : '../images/';
@import 'reset', 'mixin'; 

body {
    height:100%;
    min-width:320px;// 바디에는 전체 넓이값이 없는 것 같음
    font-family: 'Montserrat', sans-serif;//!.font-family 는 css 바디에 쓰기
    
}  

.blankSpace {
    flex:1;
    background:white;
}

@import 'header';

.mainSlide01 { 
    height:100vh;//!.vh는 샤용하는 현재 디바이스의 높이를 말함 (사용하는 디바이스 높이에 맞게 조절됨)
    background:url($url + "mainBG_01.jpg") no-repeat center center/cover;//이미지는 따로 before나 after에 넣을필요없이 mainslide자체에 넣어줌
    // &:before {
    //     content:'';
    //     display:block;
    //     background:url($url + "mainBG_01.jpg") no-repeat center center/ cover;
    //     width:1645px;
    //     height:100vh;
    // }
    //sns start
    .sns {//@.20210713_B - 1:15:43 
        display:flex;//!.플렉스로 했기때문에 마진오토는 안되고 align-items로 한다
        justify-content:space-between;
        width:130px;
        position:absolute;//!.absolute는 원래 위치와 상관없이 위치를 지정할 수 있다. 단, 가장 가까운 상위 요소를 기준으로 위치가 결정 된다.
                        //!.relative는 
        bottom:48px;
        left:28px; 
        
        
        li { // 아이콘 가로 세로 정렬 필요함
            
            @include snsIcon2(1, 16px, 16px, "twitter.png", 16px);//!.a 태그에 이미지가 들어간 것임 mixin을 참고
            @include snsIcon2(2, 8px, 19px, "facebook.png", 8px);
            @include snsIcon2(3, 16px, 16px, "naver.png", 14px);
            // background:red;
            &:nth-child(2) a {
                margin-top:-2px;
            }

            a {
                transition:opacity 0.4s;
                &:hover {//!.hover
                    opacity:0.5;
                }
            }
        }          
    }

    .mainTitle {//!.메인 타이틀 중앙 정렬(flex가 없을 때 사용)
        position:relative;//Q,relative를 부모인 mainSlide에 주고 싶은데 주게되면 헤더 메뉴가 사라짐 그래서 z-index로 순번 정해줌
        color:#f2f2f2;
        top:calc(50% - 120px);//!.50%를주면 중앙으로 오지 않는데 거기서 120px을 빼서 중앙에 배치
                            //Q.top:50% 을 줘도 왜 중앙 배치가 되지 않나?
        max-width:1350px;
        margin:0 auto;//!.width값이 위체처럼 있어야 먹힘 

        h2 {
            font-size:86px;
            font-weight:600;
            height:200px;
            
        }
        h3 {
            margin-top:34px;
            font-size:24px;
            font-weight:400;
        }
    }
}

.mainSlide02 { //!.오리지날 사이트는 안에 컨텐츠를 table-ceel 써서 vertical-align으로 잡아 놨음
    height:100vh;
    max-width:1350px;
    background-color:#fff;
    padding:0 60px;
    margin:0 auto;
    .mainTitle {
        line-height:48px;
        display:flex;
        height:100px;
        align-items:center;
        padding-top:350px;
        h2 {
            width:50%;
            font-size:36px;
            font-weight:700;
            letter-spacing:-0.035em;
            position:relative;
            &:after {
                content:'';
                display:block;
                background-color:red;
                position:absolute;
                bottom:11px;
                right:327px;
                @include circle(7px);
            }
        }
        p {
            font-size:16.5px;
            font-weight:600px;
            line-height:28px;
            padding:0 0 0 80px;
            position:relative;
            &:before {//!.position이 가능함 
                content:'';
                position:absolute;
                top:10px;
                left:0;
                display:block;
                background-color:black;
                height:2px;
                width:50px;
            }
        }
    }
    .grayCard {
        margin-top:50px;
        padding:25px 0;
        display:flex;
        justify-content:space-between;//!.플렉스를 박스 넓이 끝까지 배치하기 위해선 필요
        flex-wrap:wrap;//1.플렉스를 줄넘김하기 위해 사용
        li { //!,flex이론 - https://jeonghwan-kim.github.io/dev/2020/03/09/flex.html
            // padding:4px 10px 0 22px;
            width:calc( ( 100% - 50px ) / 3); ///!.flex참고 - 20201206_B (43:30)
            height:220px;
            margin-top:25px;
            box-shadow:0 0 10px rgba(1, 1, 1, 0.2);//!.box-shadow
            position:relative;
            //Q.왜 박스 코너쪽 사이사이들은 색이 약할까?
            background-color:#f9f9f9;//눈부셔서 넣음
            @include radius($r:10px);
            &:nth-child(1) { //Q.한번에 쓸 방법은?
                margin-top:0;
            }
            &:nth-child(2) {
                margin-top:0;
            }
            &:nth-child(3) {
                margin-top:0;
            }
            &:before {
                content:'';
                display:block;
                background-color:black;
                height:2px;
                width:43px;
                position:absolute;
                left:30px;
                bottom:40px;
            }
            &:after {
                content:'';
                display:block;
                position:absolute;
                left:73px;
                bottom:36px;
                width:0px;
                height:0px;
                border:5px solid transparent;
                border-left-color:black;
            }
            .cardList {
                display:block;
                width:100%;
                height:100%;
                padding:35px 30px;
                h4 {
                    font-size:18px;
                    font-weight:700;
                    margin-bottom:11px;
                }
                i {
                    font-size:14px;
                }
            }
        }
    }
}

@import 'footer';