@charset "utf-8";
$url : '../images/';
@import 'reset', 'mixin';



body {
    height:100%;
    min-width:320px;// 바디에는 전체 넓이값이 없는 것 같음
    
    
}

.mainSlide01 { 
    width:1645px;
    height:1000px;
    display:block;
    &:before { //스크립트가 작동하는 것같아 정보를 얻는데 많이 헷갈림 가로 세로 정보든 여러가지로...
        content:'';
        display:block;
        background:url($url + "mainBG_01.jpg") no-repeat center center/ cover;
        width:1645px;
        height:100vh;
    }
}
@import 'header';